.heatmap__container {
  height: 80vh;
  margin-left: 40px;
  min-width: 70vw;

  & > div {
    height: 80vh !important;
    width: 70vw !important;
  }
}

@media screen and (max-width: 1415px) {
  .heatmap__container {
    min-width: 85vw;

    & > div {
      width: 85vw !important;
    }
  }
}
