$input-gap: 30px;

.c-field {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  margin-bottom: 20px;
  @media screen and (max-width: 1415px) {
    margin-right: 10px;
  }
}

.c-label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

.c-input {
  border: solid 1px $black;
  font-size: $text-medium;
  margin-top: 5px;
  padding: 5px;
}

.c-error {
  color: $color-tertiary-base;

  & .c-input {
    border-color: $color-tertiary-base;
    outline-color: $color-tertiary-base;
  }
}
