$page-spacing: 20px;

$page-spacing-mobile: 10px;

.c-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
  max-width: 300px;

  @media screen and (max-width: 1415px) {
    max-width: 550px;
  }
}
