@import "./core/styles/";

.app__container {
  display: flex;
  flex-direction: column;
  padding: $page-spacing;

  @media screen and (max-width: 768px) {
    padding: $page-spacing-mobile;
  }
}

.app__title {
  text-align: center;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.loader__container {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
}
